<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comments">
	
	<!--  글 등록-->
	<insert id="insert" parameterType="Comments">
		insert into comments(comments_idx, news_idx , msg, cwriter)
		values(seq_comments.nextval, #{news.news_idx}, #{msg}, #{cwriter})
	</insert>

	<!--  글목록 -->
	 <select id="selectAll" resultType="Comments">
	 	select * from comments order by comments_idx asc
	 </select>	
	 
	<!-- 뉴스소속된 댓글 가져오기 -->
	<select id="selectByNewsIdx" parameterType="int" resultType="Comments">
		select * from comments where news_idx=#{news_idx}
	</select>	 
	
</mapper>

